.input-password:focus {
  outline: none;
}

.input-password::placeholder {
  color: var(--bs-secondary-color);
  opacity: 1;
}

.input-password {
  display: block;
  width: 100%;
  padding: .5rem 1px .5rem 1rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: none;
  border-radius: var(--bs-border-radius);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-password-father {
  border: 1px solid var(--bs-border-color);
  border-radius: 10px;
  padding: 1px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: var(--bs-body-bg);
}

.input-password-father:focus-within {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #9aacf3;
  outline: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.05),0 0 0 .25rem rgba(52,89,230,.25);
}

.view-password {
  width: 51px;
  color: rgb(88,88,88);
}

