.ajuda-style:focus {
  outline: none;
}

.ajuda-style:hover {
  outline: none;
}

.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #fff;
  background: rgba(90,92,105,.5);
  line-height: 46px;
}

.scroll-to-top:hover {
  background: #5a5c69;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: #fff;
}

.link-muted {
  color: var(--bs-gray);
}

